:root[data-theme="light"] {
    --grad-1: #ffc5d3;
    --grad-2: #6679cc;
    --list-background: #fff;
    --text-colour: #000000;

    --theme-button: #fff;

    --title: #002765;
    --search-bar-grey: #edeef0;

    --add-button: #f997b0;
    --add-button-text: #fff;
    --greyed: #555;
    --list-text: #4e085f;
}

:root[data-theme="dark"] {
    --grad-1: #561f2b;
    --grad-2: #001059;
    --list-background: #07051f;
    --text-colour: #cacaca;

    --theme-button: #07051f;

    --title: #6d96d8;
    --search-bar-grey: #212737;

    --add-button: #a65368;
    --add-button-text: #dedede;
    --greyed: #555;
    --list-text: #c185d0;
}

*{
    margin:0;
    padding:0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
.container{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg, var(--grad-1), var(--grad-2));
    padding: 10px
}
.todo-app{
    width:100%;
    max-width: 540px;
    background: var(--list-background);
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
}
.todo-app h2{
    color: var(--title);
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.todo-app h2 img{
    width: 30px;
    margin-left: 30px;
}

.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--search-bar-grey);
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}

input{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    color: var(--text-colour);
}

.theme-mode {
    border: none;
    outline: none;
    padding: 30px 30px;
    background: var(--theme-button);
    cursor: pointer;
    border-radius: 40px;
    position: absolute;
    top: 20px;
    right: 20px;
}

.add-button {
    border: none;
    outline: none;
    padding: 16px 50px;
    background: var(--add-button);
    color: var(--add-button-text);
    cursor: pointer;
    border-radius: 40px;
}

ul li{
    list-style: none;
    font-size: 20px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
    color: var(--list-text);
}

ul li::before{
    content: "";
    position: absolute;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background-image: url(assets/unchecked.png);
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;

}

ul li.checked{
    color: var(--greyed);
    text-decoration: line-through;
}

ul li.checked::before{
    background-image: url(assets/checked.png);
}

ul li span{
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: var(--greyed);
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}

ul li span:hover{
    background: var(--search-bar-grey);
}

